{% extends 'base.html' %}

{% block content %}
    <div class="container my-5">
        <div>
            <h1 class="display-1"><b>Kaptilo - </b><span class="text-muted">a lightweight tool for tracking people who have access to your chats</span>
            </h1>
        </div>

        <div class="fs-1 mt-4">
            Our advantages:
            <ul>
                <li>Free tariff plan</li>
                <li>Quick and easy to set up</li>
                <li>Secure and reliable</li>
            </ul>

        </div>

    </div>
{% endblock %}
