{% extends 'base.html' %}


{% block content %}

    <div class="container my-5">

        <div>
            <table class="table">
                <thead>
                <tr>
                    <th>Link</th>
                    <th class="text-center">Is permanent?</th>
                    <th>Created</th>
                </tr>
                </thead>
                {% for link in links %}
                    <tr>
                        <td><a href="{{ link.link }}">{{ link.link|truncatechars:40 }}</a></td>
                        <td class="text-center">{% if link.permanent %}
                            <i class="fi fi-rr-check text-success"></i>{% else %}
                            <i class="fi fi-rr-cross text-danger"></i>{% endif %}</td>
                        <td>{{ link.created|date:"d/m/y g:i a" }}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>

    </div>

{% endblock %}
